
{% extends 'inicio.html' %}

{% load static %}

{% block about %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <p style="text-align: center;"><img src="/../media/fijos/test.jpg" /></p>
    
    <h5>¡Hola! Soy Francisco Poderoso, un apasionado estudiante con un amor por la programacion. Me complace darte la bienvenida a mi rincón en internet, donde comparto mis pensamientos y experiencias.</h5>

    <h1><p style="text-align: center;">¿Quién soy?</p></h1>

    <h5>Soy una persona curiosa por naturaleza, siempre en busca de aprender algo nuevo y explorar horizontes desconocidos. Mi viaje hasta aquí me ha llevado a buscar nuevos conocimientos sobre infomatica y desarrollo de producto.</h5>

    <h1><p style="text-align: center;">¿Por qué este blog/página?</p></h1>

    <h5>Este espacio nace de la necesidad de terminar el proyecto final</h5>


</body>
</html>


{% endblock%}